@charset "UTF-8";
.account-box {
	border: 2px solid rgba(153, 153, 153, 0.75);
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-o-border-radius: 2px;
	z-index: 3;
	font-size: 13px !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #ffffff;
	padding: 20px;
}

.logo {
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.forgotLnk {
	margin-top: 10px;
	display: block;
}

.purple-bg {
	background-color: #6E329D;
	color: #fff;
}

.or-box {
	position: relative;
	border-top: 1px solid #dfdfdf;
	padding-top: 20px;
	margin-top: 20px;
}

.or {
	color: #666666;
	background-color: #ffffff;
	position: absolute;
	text-align: center;
	top: -8px;
	width: 40px;
	left: 90px;
}

.account-box .btn:hover {
	color: #fff;
}

.btn-facebook {
	background-color: #3F639E;
	color: #fff;
	font-weight: bold;
}

.btn-google {
	background-color: #454545;
	color: #fff;
	font-weight: bold;
}
.checkbox{
	margin-left: 25px;
}